html {
  font-size: 92%;
}

* {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.homepage-grid {
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-rows: [s navbar-s] 52px [navbar-e] 100% [content-s];
    grid-template-columns: 1fr;
    
    
    &__navbar {
        align-content: start;
        grid-row: navbar-s/navbar-e;
    }
    
    &__background {
        grid-column: s/e;
        grid-row: s/e;
        z-index: -10;
        
        #background-video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
        }
    }
    
}



