.navbar {
    height: 100%;
    &__tabs {
        
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
        
        
        align-items: center;
        
         h1 {
            padding-left: 40px;
            justify-self: start;
            font-size: 1.8rem;
            font-weight: 50;
            color: white;
            line-height: 25px;
        }
        

    }
    .tab {
        justify-self: center;
        font-size: 6px;
        color: rgba(255, 255, 255, .5);
        height: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        width: 9rem;
        border-bottom: 2px solid transparent;
        &:hover {
            transition: all .3s ease;
            border-bottom: 2px solid rgba(255, 255, 255, .5);
        }
        &.active {
            color: white;
            border-bottom: 2px solid white;
        }
    }


}
